<div class="animated fadeIn">

  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header"><i class="fa fa-align-justify"></i> Buscar Productos</div>
            <div class="card-body">
              <div class="form-group row">
                <div class="col-5">
                  <input class="form-control" id="date-input" name="date-input" value="12-08-2020" placeholder="date"
                         type="date">
                  <span class="help-block">Selecione la fecha de Inicio</span>
                </div>
                <div class="col-5">
                  <input class="form-control" id="date-input" name="date-input" value="12-08-2020" placeholder="date"
                         type="date">
                  <span class="help-block">Selecione la fecha de Termino</span>
                </div>
                <div class="col-2">
                  <button class="btn btn-sm btn-success" type="submit"><i class="fa fa-dot-circle-o"></i> Buscar</button>
                </div>
              </div>
              <table class="table table-bordered table-striped table-sm">
                <thead>
                <tr>
                  <th>Folio</th>
                  <th>Rut Cliente</th>
                  <th>Dirección</th>
                  <th>Fecha</th>
                  <th>Monto Neto</th>
                  <th>monto Total</th>
                  <th>Copia(PDF)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>000001</td>
                  <td>11111111-1</td>
                  <td>p sherman calle wallaby 42 sidney</td>
                  <td> 01-01-2020 </td>
                  <td>$1.000</td>
                  <td>$3.000</td>
                  <td><a href="javasscript:void(0)"><i class="icon-doc"></i></a></td>
                </tr>
                <tr>
                  <td>000001</td>
                  <td>11111111-1</td>
                  <td>p sherman calle wallaby 42 sidney</td>
                  <td> 01-01-2020 </td>
                  <td>$1.000</td>
                  <td>$3.000</td>
                  <td><a href="javasscript:void(0)"><i class="icon-doc"></i></a></td>
                </tr>
                <tr>
                  <td>000001</td>
                  <td>11111111-1</td>
                  <td>p sherman calle wallaby 42 sidney</td>
                  <td> 01-01-2020 </td>
                  <td>$1.000</td>
                  <td>$3.000</td>
                  <td><a href="javasscript:void(0)"><i class="icon-doc"></i></a></td>
                </tr>
                <tr>
                  <td>000001</td>
                  <td>11111111-1</td>
                  <td>p sherman calle wallaby 42 sidney</td>
                  <td> 01-01-2020 </td>
                  <td>$1.000</td>
                  <td>$3.000</td>
                  <td><a href="javasscript:void(0)"><i class="icon-doc"></i></a></td>
                </tr>
                <tr>
                  <td>000001</td>
                  <td>11111111-1</td>
                  <td>p sherman calle wallaby 42 sidney</td>
                  <td> 01-01-2020 </td>
                  <td>$1.000</td>
                  <td>$3.000</td>
                  <td><a href="javasscript:void(0)"><i class="icon-doc"></i></a></td>
                </tr>
                <tr>
                  <td>000001</td>
                  <td>11111111-1</td>
                  <td>p sherman calle wallaby 42 sidney</td>
                  <td> 01-01-2020 </td>
                  <td>$1.000</td>
                  <td>$3.000</td>
                  <td><a href="javasscript:void(0)"><i class="icon-doc"></i></a></td>
                </tr>
                <tr>
                  <td>000001</td>
                  <td>11111111-1</td>
                  <td>p sherman calle wallaby 42 sidney</td>
                  <td> 01-01-2020 </td>
                  <td>$1.000</td>
                  <td>$3.000</td>
                  <td><a href="javasscript:void(0)"><i class="icon-doc"></i></a></td>
                </tr>
                <tr>
                  <td>000001</td>
                  <td>11111111-1</td>
                  <td>p sherman calle wallaby 42 sidney</td>
                  <td> 01-01-2020 </td>
                  <td>$1.000</td>
                  <td>$3.000</td>
                  <td><a href="javasscript:void(0)"><i class="icon-doc"></i></a></td>
                </tr>  <tr>
                  <td>000001</td>
                  <td>11111111-1</td>
                  <td>p sherman calle wallaby 42 sidney</td>
                  <td> 01-01-2020 </td>
                  <td>$1.000</td>
                  <td>$3.000</td>
                  <td><a href="javasscript:void(0)"><i class="icon-doc"></i></a></td>
                </tr>
                <tr>
                  <td>000001</td>
                  <td>11111111-1</td>
                  <td>p sherman calle wallaby 42 sidney</td>
                  <td> 01-01-2020 </td>
                  <td>$1.000</td>
                  <td>$3.000</td>
                  <td><a href="javasscript:void(0)"><i class="icon-doc"></i></a></td>
                </tr>



                </tbody>
              </table>
              <nav>
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
                  <li class="page-item active"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">4</a></li>
                  <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
                </ul>
              </nav>
              <button type="button" class="btn btn-success mr-1" data-toggle="modal" (click)="successModal.show()">
                Descargar Facturas
              </button>
            </div>
          </div>
        </div>
      </div>

    </div> <!--/.col-->
  </div><!--/.row-->
</div>
<div bsModal #successModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Descarga de facturas</h4>
        <button type="button" class="close" (click)="successModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p> Esta descargando el resultado de su busqueda</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="successModal.hide()">Cerrar</button>
        <button type="button" class="btn btn-success" (click)="successModal.hide()">Terminar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
